/jasmin_cis/test/test_details.txt
/jasmin_cis/test/manual/.~lock.test_plot_script_expected_results.ods#
.project
.pydevproject
/.idea
*.log
*.pyc
doc/api/
build/
dist/
jasmin_cis.egg-info/
*~
doc/_build
