# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>

# Python dependencies
matplotlib
basemap
numpy
iris
scipy

# IO Dependencies
hdf4
hdf5
pyhdf
libnetcdf
netcdf4
zlib


# jpeg=8d=0

# Testing dependencies
nose
mock
psutil
pyhamcrest





