# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>

# Python dependencies
matplotlib
basemap
# Numpy isn't tied to a version in the recipe - but it is because we only build a numpy 1.8 version of cis
numpy=1.8.1
iris
scipy

# IO Dependencies
hdf4
hdf5
pyhdf
libnetcdf
netcdf4
zlib


# jpeg=8d=0

# Testing dependencies
nose
mock
psutil
pyhamcrest





