# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>

# Python dependencies
matplotlib
numpy>=1.10
iris
scipy
pandas

# This is a fix for a cartopy incompatibility
# shapely=1.5.12

# IO Dependencies
hdf4
hdf5
pyhdf
libnetcdf
netcdf4
zlib

# jpeg=8d=0

# Testing dependencies
nose
mock
psutil
pyhamcrest





